.contact {
    min-height: auto;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.contact h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.contact form {
    max-width: 70rem;
    margin: 0 auto;
    text-align: center;
}

.contact form .input-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    z-index: 0;
}

.contact form .input-box .input-field {
    position: relative;
    width: 49%;
    margin: .8rem 0;
}

.contact-sci {
    position: relative;
    width: 90rem;
    height: 15rem;
    justify-content: center;
    align-items: center;
}

.contact-sci h1 {
    position: relative;
    display: inline-block;
    font-size: 2rem;
    left: 1%;
    font-weight: 700;
    line-height: 2;
}

.contact.contact-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: -1;
}

.contact .contact-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 13px;
    color: var(--main-color);
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    transition: .5s;
}

.contact .contact-sci a:hover {
    color: var(--bg-color);
}

.contact .contact-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.contact .contact-sci a:hover:before {
    width: 100%;
}

.field .item {
    width: 100%;
    padding: 18px;
    background: transparent;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: var(--text-color);
    margin: 12px 0;
}

.field.error .item {
    border-color: #d93025;
}

.field .item::placeholder {
    color: rgba(255, 255, 255, .3);
}

.field .error-txt {
    font-size: 14.5px;
    color: #d93025;
    text-align: left;
    margin: -5px 0 10px;
    display: none;
}

.field.error .error-txt {
    display: block;
}

form .textarea-field {
    position: relative;
    z-index: 0;
}

form .textarea-field .item {
    resize: none;
}

form .textarea-field .error-txt {
    margin-top: -10px;
}

/* For animation */
.contact.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

/* Adaptive screen size */
@media (max-width: 462px) {
    .contact form .input-box .input-field {
        width: 100%;
    }
}