* {
    --width-text-animate-h3: 35rem;
    --minus-width-text-animate-h3: -35rem;
}

.home {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background-size: cover;
    background-position: center;
}

.home-content {
    max-width: 600px;
    z-index: 99;
}

.home-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content h1 span {
    color: var(--text-color);
}

.home-content h1::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content .text-animate {
    position: relative;
    width: var(--width-text-animate-h3);
}

.home-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-clip: text;
    white-space: nowrap;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.home-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.home-content h3::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1.3s;
}

.home-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.home-content p::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1.6s;
}

.home-content .btn-box::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 1.9s;
    z-index: 2;
}

.home-sci {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.home-sci::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 2.5s;
    z-index: 2;
}

.home-sci a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.home-sci a:hover {
    color: var(--bg-color);
}

.home-sci a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.home-sci a:hover:before {
    width: 100%;
}

.home.show-animate h4 {
    position: absolute;
    color: var(--main-color);
    font-size: 2rem;
    bottom: 3rem;
    right: 2rem;
    pointer-events: none;
    opacity: .5;
}

.home-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 55%;
    height: 100%;
    background: transparent;
    /* border: 2px solid red; */
    transition: 3s;
    animation: manipActiveHover .1s forwards;
    animation-delay: 4s;
    pointer-events: none;
    z-index: 0;
}

.home-imgHover:hover {
    background: var(--bg-color);
    opacity: .8;
}

.home-imgHover::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: showRight 1s ease forwards;
    animation-delay: 3s;
    z-index: 100;
}

.home-img-move img {
    position: absolute;
    border-radius: 5%;
    width: 23%;
    top: 13%;
    right: 15%;
    animation: floatImage 4s ease-in-out infinite;
}

/* For animation */

.animate.home-img {
    width: 50%;
}

.home.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

/* KEYFRAMES ANIMATION */
@keyframes homeBgText {
    0%, 10% {
        background-position: var(--minus-width-text-animate-h3) 0;
    }
    80% {
        background-position: 0 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {
    0%, 10% {
        width: 0;
    }
    80% {
        width: 100%;
    }

    65%,
    85% {
        width: 100%;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-2.4rem);
    }

    10% {
        transform: translateY(0);
    }
}


/* Adaptive screen size */
@media (max-width: 1300px) {
    .home .home-img-move img {
        width: 33%;
        top: 10%;
        right: 5%;
    }
}

@media (max-width: 1200px) {
    .home .home-img-move img {
        width: 30%;
        top: 15%;
    }
}

@media (max-width: 1050px) {
    .home .home-img-move img {
        width: 30%;
        top: 12%;
    }
}

@media (max-width: 991px) {
    .home {
        padding: 0 4%;
    }

    .home .home-img-move img {
        width: 45%;
        top: 30%;
    }
}

@media (max-width: 850px) {

    .animate.home-img {
        width: 50%;
    }

    .home .home-img-move img {
        width: 35%;
        top: 15%;
    }
}

@media (max-width: 768px) {
    .home-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media (max-width: 520px) {
    .home-content {
        display: flex;
        flex-direction: column;
    }

    .home-sci {
        width: 160px;
    }

    .home-sci a {
        width: 38px;
        height: 38px;
    }
}

@media (max-width: 462px) {
    .home-content h1 {
        font-size: 5.2rem;
    }

    .home .home-img-move img {
        width: 45%;
        top: 40%;
    }
}

@media (max-width: 371px) {
    .home {
        justify-content: center;
    }

    .home-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .home-content h1 {
        font-size: 5rem;
    }
}