.services {
    background: var(--bg-color);
}

.services h2 {
    margin-bottom: 4rem;
}

.services-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.services-container .services-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--bg-color);
    overflow: hidden;
    display: flex;
}

.services-box img {
    position: relative;
    width: 99%;
    border-radius: 2rem;
    left: .5%;
    transition: .5s ease;
}

.services-box:hover img {
    transform: scale(1.1);
}

.services-box .services-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.services-box:hover .services-layer {
    transform: translateY(0);
}

.services-layer h4 {
    font-size: 3rem;
}

.services-layer p {
    font-size: 1.6rem;
    margin: .3rem 0 1rem;
}

.services-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.services-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

/* For animation */
.services.show-animate .animate.scroll,
.services.show-animate .services-container .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

/* Adaptive screen size */
@media (max-width: 767px) {
    .portfolio__items {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 617px) {
    .services-container {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 462px) {
    .services {
        padding: 10rem 4% 5rem 5%;
    }

}