.skills {
    min-height: auto;
    padding-bottom: 7rem;

}

/* Dropdown container */
.dropdown {
    box-sizing: border-box;
    position: relative;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

/* Dropdown button */
.dropdown > button {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 16px;
    width: 100%;
    height: 64px;
    border-radius: 6px;
    color: var(--text-color);
    background: var(--second-bg-color);
    border: 0;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s;
}

.dropdown > button:hover {
    background: #3a3a3a;
}

.dropdown.open > button {
    background: #0a82d5;
}

.dropdown button .chevron {
    margin-left: auto;
}

/* Dropdown menu */
.menu {
    position: absolute;
    top: 72px;
    left: 0;
    width: 100%;
    height: auto;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    border-radius: 6px;
    border-top: 0;
    background: var(--bg-color);
    translate: 0 -20px;
    transition: opacity 0.4s, visibility 0.4s, translate 0.4s;
}

/* Menu inner container */
.menu-inner {
    position: relative;
    width: 100%;
    display: flex;
    transition: border-color 0.3s, translate 0.3s;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
}

.menu-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: width 0.5s;
}

.menu-inner:hover::before {
    width: 100%;
}

.menu-inner.open {
    translate: -50%;
}

/* Menu button */
.menu button {
    width: 100%;
    border: 0;
    border-radius: 0;
}

.menu button:hover {
    background: var(--bg-color);
}

/* Dropdown menu state */
.dropdown.open .menu {
    opacity: 1;
    translate: 0;
    visibility: visible;
}

/* Main menu styling */
.main-menu {
    width: 100%;
}

.main-menu .progress {
    padding: 1rem 0;
}

.main-menu .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.main-menu .progress h3 span {
    color: var(--text-color);
}

.main-menu .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.main-menu .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

/* Specific progress bar widths */
.menu .menu-inner .main-menu .progress:nth-child(1) .bar span {
    width: 70%;
}

.menu .menu-inner .main-menu .progress:nth-child(2) .bar span {
    width: 60%;
}

.skills h2 {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.skills-row .skills-column {
    flex: 1 1 30rem;
}

.skills-column .title {
    position: relative;
    display: inline-block;
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.skills-column .skills-box {
    position: relative;
}

.skills-box .skills-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.skills-box .skills-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.skills-box .skills-content:hover::before {
    width: 100%;
}

.skills-content .progress {
    padding: 1rem 0;
}

.skills-content .progress h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.skills-content .progress h3 span {
    color: var(--text-color);
}

.skills-content .progress .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.skills-content .progress .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

/* Programming Languages progress bar widths */
#python span {
    width: 90%;
}

#cpp span {
    width: 80%;
}

#sql span {
    width: 40%;
}

#type_script span {
    width: 40%;
}

#html_css span {
    width: 50%;
}

#xml span {
    width: 50%;
}

#bash_script span {
    width: 50%;
}

#batch span {
    width: 50%;
}

/* Software Development Principles & Patterns */
#oop span {
    width: 100%;
}

#solid span {
    width: 90%;
}

#mvc span {
    width: 80%;
}

#factory_pattern span {
    width: 60%;
}

#data_structures_algorithms span {
    width: 60%;
}

#tdd span {
    width: 60%;
}

/* Development Tools & Environments Progress Bar Widths */
#vs_code span {
    width: 90%;
}

#visual_studio span {
    width: 60%;
}

#github span {
    width: 60%;
}

#gitlab span {
    width: 70%;
}

#bitbucket span {
    width: 80%;
}

#sonarqube span {
    width: 60%;
}

#debian_12 span {
    width: 60%;
}

/* DevOps & CI/CD Progress Bar Widths */
#github_actions span {
    width: 20%;
}

#gitlab_cicd span {
    width: 50%;
}

#bash_script span {
    width: 60%;
}

#batch span {
    width: 60%;
}

#sonarqube span {
    width: 60%;
}

#tdd span {
    width: 60%;
}

#unittest span {
    width: 70%;
}

#integration_test span {
    width: 50%;
}

/* Project Management & Collaboration Progress Bar Widths */
#jira span {
    width: 80%;
}

#raci_matrix span {
    width: 80%;
}

#gantt_charts span {
    width: 100%;
}

#agile span {
    width: 60%;
}

#scrum span {
    width: 90%;
}

#kanban span {
    width: 80%;
}

/* Documentation & Diagram Progress Bar Widths */
#markdown span {
    width: 70%;
}

#mkdocs span {
    width: 60%;
}

#erd span {
    width: 60%;
}

#bpmn span {
    width: 60%;
}

#use_case_diagram span {
    width: 90%;
}

#class_diagram span {
    width: 90%;
}

#sequence_diagram span {
    width: 80%;
}

#activity_diagram span {
    width: 70%;
}

/* Soft Skills Progress Bar Widths */
#communication span {
    width: 85%;
}

#problem_solving span {
    width: 80%;
}

#public_speaking span {
    width: 75%;
}

#presentation span {
    width: 90%;
}

#teamwork span {
    width: 80%;
}

#adaptability span {
    width: 75%;
}

#time_management span {
    width: 85%;
}

#decision_making span {
    width: 78%;
}

/* For animation */
.skills.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}